<extend name="Public:header"/>
<block name="menu">
    <ul>
      <li><a href="__MODULE__/Academy/Index.html"><i class="fa fa-home fa-fw"></i>院校管理</a></li>
      <li><a href="__MODULE__/Users/Index.html"><i class="fa fa-bar-chart fa-fw"></i>用户管理</a></li>
      <li><a href="__MODULE__/Goods/Index.html" class="active"><i class="fa fa-database fa-fw"></i>商品管理</a></li>
      <li><a href="__MODULE__/Ce/Index.html"><i class="fa fa-map-marker fa-fw"></i>认证管理</a></li>
      <li><a href="__MODULE__/Login/loginout.html" class="active"><i class="fa fa-users fa-fw"></i>退出登录</a></li>
      </ul> 
  </block>
<block name="content">
   <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
          <div class="row">
            <nav class="templatemo-top-nav col-lg-10 col-md-10">
              <ul class="text-uppercase">
                <li><a href="__MODULE__/Goods/index.html" class="active">最新</a></li>
                <li><a href="__MODULE__/Goods/add.html" >添加商品</a></li>
                <li><a href="__MODULE__/Goods/addCat.html" >查看分类</a></li>
                <li><a href="__MODULE__/Goods/classAdd.html">添加分类</a></li>
              </ul>  
            </nav>
          </div>
        </div>
        <div class="panel-body">
              <div class="nav-search" id="nav-search" style="margin-bottom:10px">
              <form class="form-search">
                <span class="input-icon" style="margin-left:630px;">
                  <input type="text" placeholder="搜索" name="name" class="nav-search-input" id="nav-search-input" autocomplete="off" />
                  <input type="submit" class="btn btn-primary btn-xs" value="搜索" style="border-radius:3px; height:26px; margin-top:-4px; padding-right:24px;">
                </span>
              </form>
            </div> 
                  <div class="col-md-1"></div>
                  <div class="col-md-9">
                  <table class="table table-striped table-bordered templatemo-user-table">
                  <thead>
                    <tr>
                      <td>ID </td>
                      <td>PID</td>
                      <td>商品类名</td>
                      <td>编辑</td>
                    </tr>
                  </thead>
                  <tbody>
					<foreach name="type" item="vol">
                    <tr>
                      <td>{$vol.id}</td>
                      <td>{$vol.pid}</td>
                      <td>{$vol.name}</td>
                      <td>
                        <a href="__MODULE__/Goods/editGoods.html?id={$vol.id}">编辑</a>|
                        <a href="__MODULE__/Goods/delType?id={$vol.id}">删除</a>
                      </td>
                    </tr>
					</foreach>
           </tbody>
               <tr>
                   <td  align="center" colspan="8">{$page}</td>
                 </tr> 
              </table> 
              </div> 
        </div>   
      </div>
</block>
