<extend name="Public:header"/>
<block name="menu">
    <ul>
      <li><a href="__MODULE__/Academy/Index.html"><i class="fa fa-home fa-fw"></i>院校管理</a></li>
      <li><a href="__MODULE__/Users/Index.html"><i class="fa fa-bar-chart fa-fw"></i>用户管理</a></li>
      <li><a href="__MODULE__/Goods/Index.html" class="active"><i class="fa fa-database fa-fw"></i>商品管理</a></li>
      <li><a href="__MODULE__/Ce/Index.html"><i class="fa fa-map-marker fa-fw"></i>认证管理</a></li>
      <li><a href="__MODULE__/Login/loginout.html" class="active"><i class="fa fa-users fa-fw"></i>退出登录</a></li>
    </ul> 
  </block>
<block name="content">
   <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
          <div class="row">
            <nav class="templatemo-top-nav col-lg-10 col-md-10">
              <ul class="text-uppercase">
                <li><a href="__MODULE__/Goods/index.html" class="active">最新</a></li>
                <li><a href="__MODULE__/Goods/add.html" >添加商品</a></li>
                <li><a href="__MODULE__/Goods/addCat.html" >查看分类</a></li>
                 <li><a href="__MODULE__/Goods/classAdd.html">添加分类</a></li>
              </ul>  
            </nav> 
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-2"></div>
          <div class="col-md-6">
                  <form action="__MODULE__/Goods/editGoods.html?id={$goods.id}" enctype="multipart/form-data" method="post" class="templatemo-login-form">
                     <div class="form-group">
                      <img src="__PUBLIC__{$goods.good_imgs}" style="width:100px;height:100px">
                      <label for="name">商品图片</label>
                      <input type="file" name="good_imgs" id="name">
                    </div> 
                    <div class="form-group">
                      <label for="name">商品名</label>
                      <input type="text" class="form-control" name="title" value="{$goods.title}" id="name">
                    </div>
                     <div class="form-group">
                      <label for="name">商品价格</label>
                      <input type="text" class="form-control" name="price" value="{$goods.price}" id="name">
                    </div>
                    <div class="form-group">
                      <label for="name">商品分类</label>
                      <select class="form-control" name="type_id">
                        <foreach name="type" item="vol">
                          <option value="{$vol.id}">{$vol.name}</option>
                        </foreach>                  
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="name">商品详情</label>
                      <input type="text" class="form-control" name="detail" value="{$goods.detail}" id="name">
                    </div>  
                     <div class="form-group">
                      <label for="name">交货地点</label>
                      <input type="text" class="form-control" name="place" value="{$goods.place}" id="name">
                    </div>   
                        
                    <div class="form-group">
                      <button type="submit" name="sub" value="true" class="templatemo-blue-button">编辑</button>
                    </div>
                  </form>
          </div> 
        </div>   
      </div>
</block>
