<extend name="Public:header"/>
<block name="menu">
    <ul>
      <li><a href="__MODULE__/Index.html" ><i class="fa fa-home fa-fw"></i>院校管理</a></li>
      <li><a href="__MODULE__/Users/Index.html" ><i class="fa fa-bar-chart fa-fw"></i>用户管理</a></li>
      <li><a href="__MODULE__/Goods/Index.html"><i class="fa fa-database fa-fw"></i>商品管理</a></li>
      <li><a href="__MODULE__/Ce/Index.html" ><i class="fa fa-map-marker fa-fw"></i>认证管理</a></li>
      <li><a href="__MODULE__/Login/loginout.html"><i class="fa fa-users fa-fw"></i>退出登录</a></li>
    </ul> 
  </block>
  <block name="content">
   <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
          <div class="row">
            <nav class="templatemo-top-nav col-lg-6 col-md-6">
              <ul class="text-uppercase">
                <li><a href="__MODULE__/Link/Index.html" class="active">查看链接</a></li>
                <li><a href="__MODULE__/Link/add.html">添加链接</a></li>
              </ul>  
            </nav> 
          </div>
        </div>
        <div class="panel-body">
                  <div class="col-md-1"></div>
                  <div class="col-md-8">
                    <table class="table table-striped table-bordered templatemo-user-table">
                  <thead>
                    <tr>
                      <td>ID </td>
                      <td>链接名</td>
                      <td>URL</td>
                      <td>
                       编辑
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td>John</td>
                      <td>Smith</td>
                      <td>
                        <a href="">删除</a>|
                        <a href="">修改</a>
                      </td>
                    </tr>
                           
                </tbody>
              </table> 
                  </div> 
        </div>   
  </div>
</block>